

.btn-str{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(121, 121, 237);
    color: white;
    border-radius: 15px;
     margin-top: 5px
}

.btn-count{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(121, 121, 237);
    color: white;
    border-radius: 15px;
   
}

.counter{
    width: 30%;
}

.box-white{
    width: 50%;
    height: 40vh;
    background-color: rgb(255, 251, 251);
}

.box-dark{
    width: 50%;
    height: 40vh;
    background-color: black;
}